.title{
    text-align: center;
    font-size: 3rem;
    text-shadow:0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #990066,0 0 70px #990066,0 0 80px #990066,0 0 100px #990066,0 0 170px #990066;  


   
}